

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    '. header header header header .'
    '. main1 main2 main3 main4 .'
    '. topic0 topic1 topic2 topic3 .';
  margin-top: 60px;
  background-color: white;
  color: white;
  column-gap: 1px solid rgba(255, 165, 0, 1);
  row-gap: 1px solid rgba(255, 165, 0, 1);

}

.grid-subsystem {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    '. header header header header header header header header .'
    '. topic topic topic topic topic topic topic topic .';
  margin-top: 60px;
  background-color: white;
  color: white;
  column-gap: 1px solid rgba(255, 165, 0, 1);
  row-gap: 1px solid rgba(255, 165, 0, 1);
}

.grid-item {
  border: 1px solid rgba(255, 165, 0, 1);
  text-align: center;
  background-color: blue;
}

.grid-cell {
  border: 1px solid rgba(255, 165, 0, 1);
  text-align: center;
  color: black;
  background-color: white;

}

.border {
  border: 1px solid rgba(255, 165, 0, 1);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10%;
  text-align: center;
  color: black;
  background-color: white;
}

.fontColorBlue {
  background-color: skyblue;
  font-style: italic;
  color: blue;
}

#GridHeader0 {
    grid-area: header;
}

#GridHeader1 {
    grid-area: main1;
}

#GridHeader2 {
    grid-area: main2;
}

#GridHeader3 {
    grid-area: main3;
}
#GridHeader4 {
    grid-area: main4;
}

#GridHeader5 {
    grid-area: header;
}

#GridHeader6 {
    grid-area: header;
}

#content0 {
    grid-area: topic0;
}

#content1 {
    grid-area: topic1;
}

#content2 {
    grid-area: topic2;
}
#content3 {
    grid-area: topic3;
}

#subStation0 {
  grid-area: topic0;
}

#subStation1 {
  grid-area: topic1;
}

#subStation2 {
  grid-area: topic2;
}

#subStation3 {
  grid-area: topic3;
}

#subStation4 {
  grid-area: topic4;
}

#subStation5 {
  grid-area: topic5;
}
#subStation6 {
  grid-area: topic6;
}

#subStation7 {
  grid-area: topic7;
}
