<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../Model/styleSheet.css'></link>
    <title>CSS Position</title>
</head>
<body>
    <div class='parent'>
        PARENT
        <div class="child-one child">One</div>
        <div class="child-two child">Two</div>
        <div class="child-three child">Three</div>
        <div class="child-four child">Four</div>
    </div>
</body>
</html>