body {
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    ;
}

.flexbox-container {
    display: flex;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid red;
    background-color: lightgray;
}

.flexbox-item-1 {
    min-height: 600px;
    flex-shrink: 0;
    align-self: flex-start;
    flex-grow: 1;
}

.flexbox-item-2 {
    min-height: 200px;
    align-self: flex-start   ;
}

.flexbox-item-3 {
    min-height: 300px;
    align-self: flex-end;
}